body {
	font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
	margin: 0;
	padding: 0;
}

/** NAVIGATION **/

header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	color: black;
	margin-top: 20px;
	padding-top: 20px;
	padding-bottom: 20px;
	
}

.logo img {
	width: 100px;
	height: auto;
	margin-left: 80px;
}

nav ul {
	list-style: none;
	display: flex;
	margin-right: 80px;
}

nav ul li {
	margin-left: 50px;
}

nav ul li a {
	font-size: 16px;
	color: black;
	text-decoration: none;
}

nav ul li a:hover {
	color: #d3d3d3;
}


/** PROJECT RIJSCHOOL LAYOUT **/


/** Animations **/

@font-face {
	font-family: "DreamAvenue";
	src: url("../fonts/DreamAvenue.otf") format("opentype"), url("../fonts/DreamAvenue.ttf") format("truetype");
	font-weight: normal;
	font-style: normal;
}

.section1 {
	display: block;
	text-align: left;
	padding-left: 450px;
	color: #d3d3d3;
	margin-top: 100px;
	margin-bottom: 0px;
}

h1 {
	font-family: "DreamAvenue", sans-serif;
	font-size: 100px;
	letter-spacing: 10px;
	margin-top: 0px;
	margin-bottom: 0px;
}

.section2 {
	display: block;
	align-items: center;
	text-align: right;
	color: black;
	padding-right: 250px;
	margin-top: 0px;
}

h2 {
	font-family: "DreamAvenue", sans-serif;
	font-size: 100px;
	letter-spacing: 10px;
	margin-top: 0px;
}
@keyframes slideInLeft {
	from {
		transform: translateX(-100%);
		opacity: 0;
	}
	to {
		transform: translateX(0);
		opacity: 1;
	}
}

@keyframes slideInRight {
	from {
		transform: translateX(100%);
		opacity: 0;
	}
	to {
		transform: translateX(0);
		opacity: 1;
	}
}
@keyframes popIn {
	0% {
		visibility: hidden;
		opacity: 0;
	}

	100% {
		visibility: visible;
		opacity: 1;
	}
}

h1 {
	animation: slideInLeft 1s ease-out forwards;
}

h2 {
	animation: slideInRight 1s ease-out forwards;
}

.team-image{
	display: flex;
	justify-content: center;
	
}

.team-image img {
	width: 100%;
	height: auto;
	display: block;
	padding-top: 20px;
	padding-bottom: 50px;
}
h3 {
	font-size: 50px;
	font-weight: 100;
	width: 50%;
	margin-top: 50px;
	margin-left: 70px;
	margin-bottom: 50px;
	color: lightgray;
}

.project-rijschool {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	margin-top: 60px;
	gap: 80px;
}

.project-rijschool img {
	width: 50%;
	height: auto;
	display: block;
}


/** FOOTER **/
footer {
	display: flex;
	justify-content: center;
	text-align: center;
	position: relative;
	width: 100%;
	bottom: 20px;
	font-size: 16px;
	color: black;
}