body {
	font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
	margin: 0;
	padding: 0;
}

/** NAVIGATION **/

header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	color: black;
	margin-top: 20px;
	padding-top: 20px;
	padding-bottom: 20px;
}

.logo img {
	width: 100px;
	height: auto;
	margin-left: 80px;
}

.menu-toggle {
	visibility: hidden;
}
.h-nav {
	visibility: hidden;
}

nav ul.active {
	display: flex;
}

nav ul li {
	margin: 10px 0;
}

nav ul {
	list-style: none;
	display: flex;
	margin-right: 80px;
}

nav ul li {
	margin-left: 50px;
}

nav ul li a {
	font-size: 16px;
	color: black;
	text-decoration: none;
}

nav ul li a:hover {
	color: #d3d3d3;
}

/** TEAM LAYOUT **/

/** Titel Fonts **/

@font-face {
	font-family: "DreamAvenue";
	src: url("../fonts/DreamAvenue.otf") format("opentype"), url("../fonts/DreamAvenue.ttf") format("truetype");
	font-weight: normal;
	font-style: normal;
}

.section1 {
	display: block;
	text-align: left;
	padding-left: 520px;
	color: #d3d3d3;
	margin-top: 100px;
	margin-bottom: 0px;
}

h1 {
	font-family: "DreamAvenue", sans-serif;
	font-size: 100px;
	letter-spacing: 10px;
	margin-top: 0px;
	margin-bottom: 0px;
}

.section2 {
	display: block;
	align-items: center;
	text-align: right;
	color: black;
	padding-right: 520px;
	margin-top: 0px;
}

h2 {
	font-family: "DreamAvenue", sans-serif;
	font-size: 100px;
	letter-spacing: 10px;
	margin-top: 0px;
}

/***** ANIMATION *****/

@keyframes slideInLeft {
	from {
		transform: translateX(-100%);
		opacity: 0;
	}
	to {
		transform: translateX(0);
		opacity: 1;
	}
}

@keyframes slideInRight {
	from {
		transform: translateX(100%);
		opacity: 0;
	}
	to {
		transform: translateX(0);
		opacity: 1;
	}
}

@keyframes popIn {
	0% {
		visibility: hidden;
		opacity: 0;
	}

	100% {
		visibility: visible;
		opacity: 1;
	}
}

h1 {
	animation: slideInLeft 1s ease-out forwards;
}

h2 {
	animation: slideInRight 1s ease-out forwards;
}

h3 {
	opacity: 0;
	visibility: hidden;
	animation: popIn 1s ease-out forwards;
	animation-delay: 1s;
}
nav {
	animation: slideInRight 1s ease-out forwards;
}

.logo img {
	animation: slideInLeft 1s ease-out forwards;
}

main {
	font-family: Arial, sans-serif;
	margin: 0;
	padding: 0;
	background-color: #fff;
	color: #000;
}
h3 {
	font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
	font-size: 50px;
	font-weight: 80;
	text-align: center;
	margin-top: 150px;
	margin-left: 250px;
	margin-right: 250px;
	color: #d3d3d3;
}
.special-font {
	font-family: "DreamAvenue", sans-serif;
	color: black;
}

.carousel-container {
	display: flex;
	justify-content: center;
	align-items: center;
	max-width: 100%;
	margin: 180px;
	overflow-x: auto;
	padding: 10px;
}
.carousel {
	display: flex;
	gap: 20px;
}
.carousel-item {
	text-align: center;
}
.carousel img {
	max-width: 200px;
	cursor: pointer;
	transition: transform 0.3s;
}
.carousel img:hover {
	transform: scale(1.1);
}
.info,
.additional-info {
	display: none;
	padding: 10px;
	margin-top: 10px;
	text-align: center;
}

.info {
	font-size: 20px;
}
.additional-info {
	font-size: 16px;
}

/** FOOTER **/
footer {
	display: flex;
	justify-content: center;
	text-align: center;
	position: relative;
	width: 100%;
	bottom: 20px;
	font-size: 16px;
	color: black;
}

/****** Media for Mobile *******/
@media (max-width: 768px) {
	.logo img {
		margin-left: 25px;
		animation: none;
	}
	nav {
		display: none; 
	}
	.menu-toggle {
		visibility: visible;
		display: flex;
		flex-direction: column;
		cursor: pointer;
	}

	.menu-toggle div {
		width: 30px;
		height: 2px;
		background-color: black;
		margin: 4px 0;
		margin-right: 25px;
		transition: all 0.3s ease;
	}

	.h-nav {
		visibility: visible;
		height: 100%;
		width: 200px;
		position: fixed;
		margin-left: 180px;
		top: 0;
		right: -150px;
		background-color: #d3d3d3;
		overflow-x: hidden;
		transition: 0.3s;
		padding-top: 60px;
	}

	.h-nav a {
		padding: 10px 15px;
		text-decoration: none;
		font-size: 18px;
		color: black;
		display: block;
		transition: 0.3s;
	}

	.h-nav a:hover {
		color: #d3d3d3;
	}

	.h-nav.active {
		left: 0; /* Slide into view from the right */
	}

	.section1 {
		display: flex;
		text-align: left;
		padding-left: 100px;
		color: #d3d3d3;
		margin-top: 20px;
	}

	.section2 {
		display: flex;
		text-align: left;
		padding-left: 140px;
		color: black;
	}

	h1,
	h2 {
		text-align: center;
		font-size: 36px;
		letter-spacing: 10px;
		opacity: 1;
		visibility: visible;
		animation: none;
	}

	h3 {
		font-size: 18px;
		margin: 10px;
		padding-bottom: 50px;
	}

	.carousel img {
		max-width: 100px;
	}

	.carousel-container {
		margin: 10px;
	}
	.info {
		font-size: 12px;
	}
	.additional-info {
		font-size: 10px;
	}
	footer {
		font-size: 12px;
		padding-top: 40px;
	}
}

/* AJHMZ ZICHTBAAR OP NAV WAAROM ????????*/
